body {
    background: #f2f4f8;
    font-family: Arial, sans-serif;
    text-align: center;
}

#startScreen, #testScreen, #resultBox {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

button {
    padding: 10px 20px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

#topBar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
